*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#navbar {
    background-color: rgba(0, 0, 0, 0.740); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid black; */
}
nav ul {
    display: flex;
    margin-right: 25px;
}
#navbar .logo img {
    height: 60px;
    margin-left: 25px;
    border-radius: 50%;
}
ul li {
    padding: 30px;
    font-size: 35px;
    list-style: none;

}
ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container1{
    display: flex;
    color:white;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.740);
    margin-top: -50px;
    height: 450px;
}
.row1{
    padding: 5%;
    width: 500px;
}
h1{
    color: brown;
}
.container2{
    display: flex;
    color:white;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.740);
    /* margin-top: -100px; */
}
.row2{
    padding: 5%;
    width: 500px;
}